{% extends "app/base_site.html" %}

{% load static %}

{% block title %} Cuenca {{ cuenca.codigo }} {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <style>
        .mapa_cuenca {  position: relative;
                width: 600px;
                height: 400px;}
    </style>
{% endblock stylesheets %}

{% block content %}

<div style="display:flex; width: 100%; padding-bottom: 20px;">
    <div id="map" class="mapa_cuenca" style="width: 45%;height: 400px;"></div>
    <div style="width: 5%;"></div>
    <div style="width: 45%;height: 400px;">
        <figure class="highcharts-figure">
            <div id="bh_monthly"></div>
        </figure>
    </div>
    <div style="width: 5%;"></div>
</div>

<div style="display:flex; width: 100%; padding-bottom: 20px;">
    <div style="width: 95%;height: 400px;">
        <figure class="highcharts-figure">
            <div id="bh_historico"></div>
        </figure>
    </div>
    <div style="width: 5%;"></div>
</div>


<div>
    <h4 class="title">Tabla Mensual</h4>
    <div class="table-fluid">
        <div class="table-scrollable">
            <table class="table dataTable no-footer" id="table_monthly" role="grid" style="width: 1480px;">
                <thead>
                    <tr role="row">
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 240px;">Variable</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">sep</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">oct</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">nov</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">dic</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">ene</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">feb</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">mar</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">abr</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">may</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 88px;">jun</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 72px;">jul</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 89px;">ago</th>
                    </tr>
                </thead>

                <tbody>
                    <tr role="row" class="odd">
                        <td>Precipitación (mm)</td><td>27.1</td><td>38.7</td><td>55.1</td><td>102.1</td><td>162.5</td><td>131.8</td><td>107.1</td><td>43.5</td><td>11.4</td><td>6.7</td><td>6.1</td><td>12.9</td>
                    </tr>
                    <tr role="row" class="even">
                        <td>ETR (mm)</td><td>18.6</td><td>31</td><td>41.6</td><td>63.5</td><td>89.2</td><td>88.2</td><td>88.9</td><td>66.2</td><td>42.8</td><td>19.5</td><td>11.3</td><td>10.9</td></tr>
                    <tr role="row" class="odd">
                        <td>ETP (mm)</td><td>135.5</td><td>147.3</td><td>139.9</td><td>130.1</td><td>121.5</td><td>108.9</td><td>115.2</td><td>106.4</td><td>115.8</td><td>110.3</td><td>123</td><td>134.2</td>
                    </tr>
                    <tr role="row" class="even">
                        <td>Escurrimiento (mm)</td><td>2.4</td><td>2.6</td><td>3.3</td><td>7.3</td><td>33.2</td><td>39.5</td><td>26.7</td><td>9.9</td><td>3.9</td><td>2.6</td><td>2.3</td><td>2.3</td>
                    </tr>
                    <tr role="row" class="odd">
                        <td>Caudal (m3/s)</td><td>58.2</td><td>63.5</td><td>90.3</td><td>200.1</td><td>640.8</td><td>776.6</td><td>523.3</td><td>218.5</td><td>89.3</td><td>64.8</td><td>56.4</td><td>54.8</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <h4 class="title">Tabla Histórico</h4>
    <div class="table-fluid">
        <div class="table-scrollable">
            <table class="table dataTable no-footer" id="table_year" role="grid" style="width: 1480px;">
                <thead>
                    <tr role="row">
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 240px;">Variable</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">sep</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">oct</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">nov</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">dic</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">ene</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">feb</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">mar</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">abr</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">may</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 88px;">jun</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 72px;">jul</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 89px;">ago</th>
                    </tr>
                </thead>

                <tbody>
                    <tr role="row" class="odd">
                        <td>Precipitación (mm)</td><td>27.1</td><td>38.7</td><td>55.1</td><td>102.1</td><td>162.5</td><td>131.8</td><td>107.1</td><td>43.5</td><td>11.4</td><td>6.7</td><td>6.1</td><td>12.9</td>
                    </tr>
                    <tr role="row" class="even">
                        <td>ETR (mm)</td><td>18.6</td><td>31</td><td>41.6</td><td>63.5</td><td>89.2</td><td>88.2</td><td>88.9</td><td>66.2</td><td>42.8</td><td>19.5</td><td>11.3</td><td>10.9</td></tr>
                    <tr role="row" class="odd">
                        <td>ETP (mm)</td><td>135.5</td><td>147.3</td><td>139.9</td><td>130.1</td><td>121.5</td><td>108.9</td><td>115.2</td><td>106.4</td><td>115.8</td><td>110.3</td><td>123</td><td>134.2</td>
                    </tr>
                    <tr role="row" class="even">
                        <td>Escurrimiento (mm)</td><td>2.4</td><td>2.6</td><td>3.3</td><td>7.3</td><td>33.2</td><td>39.5</td><td>26.7</td><td>9.9</td><td>3.9</td><td>2.6</td><td>2.3</td><td>2.3</td>
                    </tr>
                    <tr role="row" class="odd">
                        <td>Caudal (m3/s)</td><td>58.2</td><td>63.5</td><td>90.3</td><td>200.1</td><td>640.8</td><td>776.6</td><td>523.3</td><td>218.5</td><td>89.3</td><td>64.8</td><td>56.4</td><td>54.8</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div style="display:flex; width: 100%; padding-bottom: 20px;">
    <div style="width: 45%;height: 400px;">
        <figure class="highcharts-figure">
            <div id="hydrograph_month"></div>
        </figure>
    </div>
    <div style="width: 5%;"></div>
    <div style="width: 45%;height: 400px;">
        <figure class="highcharts-figure">
            <div id="hydrograph_year"></div>
        </figure>
    </div>
    <div style="width: 5%;"></div>
</div>


<script type="text/javascript">
    var map = L.map('map').setView([-15,-75],6);
    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
    var geom = L.geoJSON({{ geometria | safe }});

    geom.addTo(map);
    map.fitBounds(geom.getBounds());
</script>

<script>
    Highcharts.chart('bh_monthly', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Balance hídrico'
        },
        xAxis: {
            categories: ['Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug']
        },
        yAxis: {
            min: -15,
            title: {
                text: 'Balance en cuenca'
            },
            stackLabels: {
                enabled: false,
                style: {
                    fontWeight: 'bold',
                    color: ( // theme
                        Highcharts.defaultOptions.title.style &&
                        Highcharts.defaultOptions.title.style.color
                    ) || 'gray'
                }
            }
        },
        legend: {
            align: 'center',
            verticalAlign: 'bottom',
            floating: false,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false
                }
            }
        },
        series: [{
            name: 'Precipitación (mm)',
            data: {{ bh_monthly.pp }}
        }, {
            name: 'ETR (mm)',
            data: {{ bh_monthly.etr }}
        }, {
            name: 'Escurrimiento (mm)',
            data: {{ bh_monthly.runoff }}
        }]
    });
</script>

<script>
    Highcharts.chart('bh_historico', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Balance histórico'
        },
        xAxis: {
            categories: [1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017]
        },
        yAxis: {
            min: -15,
            title: {
                text: 'Balance en cuenca'
            },
            stackLabels: {
                enabled: false,
                style: {
                    fontWeight: 'bold',
                    color: ( // theme
                        Highcharts.defaultOptions.title.style &&
                        Highcharts.defaultOptions.title.style.color
                    ) || 'gray'
                }
            }
        },
        legend: {
            align: 'center',
            verticalAlign: 'bottom',
            floating: false,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false
                }
            }
        },
        series: [{
            name: 'Precipitación (mm)',
            data: {{ bh_historico.pp }}
        }, {
            name: 'ETR (mm)',
            data: {{ bh_historico.etr }}
        }, {
            name: 'Escurrimiento (mm)',
            data: {{ bh_historico.runoff }}
        }]
    });
</script>


<script>
    Highcharts.chart('hydrograph_month', {
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Hidrograma mensual'
        },
        subtitle: {
            text: 'Fuente: www.senamhi.gob.pe'
        },
        xAxis: {
            categories: ['Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug']
        },
        yAxis: {
            title: {
                text: 'Balance en cuenca'
            },
            labels: {
                formatter: function () {
                    return this.value; //return this.value + '°';
                }
            }
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        series: [{
            name: 'Caudal (mm3/s)',
            marker: {
                symbol: 'diamond'
            },
            data: {{ hydrograph_month }}
        }]
    });
</script>

<script>
    Highcharts.chart('hydrograph_year', {
        chart: {
            zoomType: 'x'
        },
        title: {
            text: 'Hidrograma'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            title: {
                text: 'Balance en cuenca'
            }
        },
        legend: {
            align: 'center',
            verticalAlign: 'bottom',
            floating: false,
            shadow: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'Caudal (mm3/s)',
            data: {{ hydrograph_year }}
        }]
    });

</script>
{% endblock content %}
