{% extends "app/base_site.html" %}
{% load static %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="card-content">
<h4 class="card-title">GeoVisor de manejo de Información de Balances Hídricos</h4>
<p class="text-justify text-gray">
    El sistema hídrico Lago Titicaca – Río Desaguadero – Lago Poopó - Salar de Coipasa (TDPS), ubicado en el altiplano andino, es un sistema transfronterizo de carácter endorreico, formado por esas cuatro cuencas interconectadas. El TDPS tiene una superficie de 143 900 km2, está integrado por catorce (14) unidades hidrográficas y está ubicado entre Bolivia, Chile y Perú. La altitud promedio es de 3 800 m.s.n.m., siendo el punto más alto el nevado Sajama (6 452 m.s.n.m.) y el más bajo el Salar de Coipasa (3 653 m.s.n.m.).
</p>

<div class="row">
    <div class="col-md-6">
        <p class="text-justify text-gray">
            El Lago Titicaca es el mayor cuerpo hídrico del TDPS, recibe las descargas de nueve unidades hidrográficas. El Lago Titicaca a su vez drena en el río Desaguadero, el mismo que en su sector terminal se bifurca, el ramal Este drena en el Lago Uru Uru y de ahí en el Lago Poopó, (cerca de la población de Oruro en Bolivia), y el ramal Oeste drena directamente en el Lago Poopó. Finalmente, el río Lacajahuira nace en el Lago Poopó y drena en el Salar de Coipasa.
        </p>
        <p class="text-justify text-gray">
            Las condiciones naturales son extremas, el clima del área es intenso (baja concentración de oxígeno, alta radiación solar, aridez extrema, muy bajas temperaturas) y hay cuerpos de agua y suelos con alta concentración de sales y minerales. El TDPS contiene hábitats de alto valor para la conservación como los totorales, los bofedales y los tholares, además de especies endémicas como la rana gigante del Titicaca (Telmatobius culeus), la boga (Orestias pentlandii) y el zampullín del Titicaca (Rollandia microptera).
        </p>
        <p class="text-justify text-gray">
            Los recursos hídricos del TDPS son de alto valor para Bolivia y Perú, que desde la década de 1950 han avanzado en desarrollar mecanismos de gestión conjunta. En 1992, ambos países acordaron la creación de la Autoridad Binacional Autónoma del Sistema Hídrico del Lago Titicaca, Río Desaguadero, Lago Poopó, Salar de Coipasa (ALT). Posteriormente, los países establecieron varias instancias de cooperación, como las comisiones técnicas binacionales para los ríos Maure-Mauri y Suches, y la Comisión Binacional de Alto Nivel para el Lago Titicaca. La ALT es responsable de implementar el Plan Director Global Binacional del Sistema Hídrico TDPS.
        </p>

    </div>
    <div class="col-md-6">
        <img src="{% static 'img/mapa.png' %}" style="width:100%;">
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-3" style="height: 100px;">
         <img src="{% static 'img/logo_minam.jpg' %}" style="width: 100%;text-align:center;display:block;margin-left:auto;margin-right:auto;">
    </div>
    <div class="col-md-3" style="height: 100px;">
         <img src="{% static 'img/logo_senamhi.png' %}" style="height:100%;text-align:center;display:block;margin-left: auto;margin-right: auto;">
    </div>
    <div class="col-md-3" style="height: 100px;">
        <img src="{% static 'img/logo_tdps.jpg' %}" style="height:100%;text-align:center;display:block;">
    </div>
    <div class="col-md-3" style="height: 100px;">
         <img src="{% static 'img/logo_pnud1.png' %}" style="height: 100%;text-align:center;display:block;">
    </div>
</div>
</div>

{% endblock content %}