{% extends "app/base_site.html" %}
{% load static %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header" data-background-color="blue">
            <h4 class="title">Bases de Datos</h4>
            <p class="category">Bases de Datos del sistema TDPS</p>
        </div>
        <div class="card-content table-responsive">
            <table class="table table-hover">
                <thead class="text-info text-center">
                <tr><th>#</th>
                <th>Nombre</th>
                <th>Creado</th>
                <th class="td-actions text-center">Opción</th>
                </tr>
                </thead>
                <tbody>
                    <tr  class="td-actions text-center">
                        <td>1</td>
                        <td>Cuencas del sistema TDPS</td>
                        <td>17/03/2020</td>
                        <td class="td-actions text-center">
                            <a href="{% url 'app:listar_cuencas' %}" rel="tooltip" title="" class="btn btn-info btn-simple btn-xs" data-original-title="Ver detalles">
                                <i class="material-icons">Ver detalles</i>
                            </a>
                        </td>
                    </tr>

                    <tr class="td-actions text-center">
                        <td>2</td>
                        <td>Balance Hídrico Superficial del Sistema Hídrico TDPS</td>
                        <td>04/04/2020</td>
                        <td class="td-actions text-center">
                            <a href="{% url 'app:listar_subcuencas' %}" rel="tooltip" title="" class="btn btn-info btn-simple btn-xs" data-original-title="Ver detalles">
                                <i class="material-icons">Ver detalles</i>
                            </a>
                        </td>
                    </tr>

                    <tr  class="td-actions text-center">
                        <td>3</td>
                        <td>Mapas del estudio</td>
                        <td>04/04/2020</td>
                        <td class="td-actions text-center">
                            <a href="{% url 'app:listar_mapas' %}" rel="tooltip" title="" class="btn btn-info btn-simple btn-xs" data-original-title="Ver detalles">
                                <i class="material-icons">Ver detalles</i>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
