{% extends "app/base_site.html" %}
{% load static %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header" data-background-color="blue">
            <h4 class="title">Bases de Datos</h4>
            <p class="category">Bases de Datos del sistema TDPS</p>
        </div>
        <div class="card-content table-responsive">
            <table class="table table-hover">
                <thead class="text-info text-center">
                <tr><th>#</th>
                <th>Nombre</th>
                <th>Creado</th>
                <th class="td-actions text-right">Opción</th>
                </tr>
                </thead>
                <tbody>

                        <tr>
                            <td>1</td>
                            <td>Datos de estaciones</td>
                            <td>29/02/2020</td>
                            <td class="td-actions text-right">
                                <a href="{% url 'app:listar_estaciones' %}" rel="tooltip" title="" class="btn btn-info btn-simple btn-xs" data-original-title="Ver detalles">
                                    <i class="material-icons">Ver detalles</i>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>Resultado del Balance Hídrico</td>
                            <td>29/02/2020</td>
                            <td class="td-actions text-right">
                                <a href="/vibh/database/15" rel="tooltip" title="" class="btn btn-info btn-simple btn-xs" data-original-title="Ver detalles">
                                    <i class="material-icons">Ver detalles</i>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>Mapas del estudio</td>
                            <td>02/03/2020</td>
                            <td class="td-actions text-right">
                                <a href="{% url 'app:listar_mapas' %}" rel="tooltip" title="" class="btn btn-info btn-simple btn-xs" data-original-title="Ver detalles">
                                    <i class="material-icons">Ver detalles</i>
                                </a>
                            </td>
                        </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
