{% extends "app/base_site.html" %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th>Código</th>
        <th>Código</th>
        <th>Código</th>
    </tr>
    </thead>

    <tbody>
        {% for estacion in estaciones_list %}
        <tr class="table-active">
            <td>{{ estacion }}</td>
            <td>{{ estacion }}</td>
            <td><a href="../grafico/{{ estacion }}"> {{ estacion }} </a></td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}
