{% extends "app/base_site.html" %}

{% load static %}
{% load leaflet_tags %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <style>
    .leaflet-container {
        height: 100%;
        }
    #map {
        width: 100%!important;
        height: 580px;
        box-shadow: 5px 5px 5px #888;
        display: inline-grid;
        }
    </style>
{% endblock stylesheets %}

{% block content %}

{% block javascript %}
{% leaflet_js %}
<script src="/static/js/mousePosition.js"></script>
<script src="/static/js/leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.js"></script>
<script src="/static/js/L.TileLayer.BetterWMS.js"></script>
<script src="/static/js/map_container.js"></script>
<script src="https://unpkg.com/esri-leaflet@2.3.2/dist/esri-leaflet.js" integrity="sha512-6LVib9wGnqVKIClCduEwsCub7iauLXpwrd5njR2J507m3A2a4HXJDLMiSZzjcksag3UluIfuW1KzuWVI5n/cuQ==" crossorigin=""></script>
{% endblock javascript %}

<div style="display:flex; width: 100%; height:800px;">
    <div id="map" class="map-geovisor" style="display:grid;">
        {% leaflet_map "main" %}
    </div>
</div>
{% endblock content %}
