{% extends "app/base_site.html" %}

{% load static %}

{% block title %} Cuenca {{ cuenca.codigo }} {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <style>
        .mapa_cuenca {  position: relative;
                width: 600px;
                height: 400px;}
    </style>
{% endblock stylesheets %}

{% block content %}


<div style="display:flex; width: 100%; padding-bottom:40px;">
    <div class="card" style="width:48%;">
        <div class="card-header" data-background-color="blue">
            <h4 class="title" style="color:white;">Cuenca {{ codigo }}</h4>
        </div>
        <div class="card-content">
            <div id="map" class="mapa_cuenca" style="margin:15px;height:400px;"></div>
        </div>
    </div>
    <div style="width: 2%;"></div>

    <div class="card" style="width:48%;">
        <div class="card-header" data-background-color="blue">
            <h4 class="title" style="color:white;">Balance hídrico</h4>
        </div>
        <div style="height: 400px;">
            <figure class="highcharts-figure">
                <div id="bh_monthly"></div>
            </figure>
        </div>
    </div>
    <div style="width: 2%;"></div>
</div>

<div class="card" style="width:100%;padding-bottom:40px;">
    <div class="card-header" data-background-color="blue">
        <h4 class="title" style="color:white;">Balance Histórico</h4>
    </div>
    <div class="card-content">
        <div style="display:flex; width: 100%; padding-bottom: 20px;">
            <div style="width: 100%;height: 400px;">
                <figure class="highcharts-figure">
                    <div id="bh_historico"></div>
                </figure>
            </div>
        </div>
    </div>
</div>

<div class="card" style="width:100%;padding-bottom:40px;">
    <div class="card-header" data-background-color="blue">
        <h4 class="title" style="color:white;">Tabla Mensual</h4>
    </div>

    <div class="card-content">
        <div class="table-fluid">
            <div class="table-scrollable">
                <table class="table dataTable no-footer" id="table_year" role="grid" style="width: 1480px;">
                    <thead>
                        <tr role="row">
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 240px;">Variable</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">sep</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">oct</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">nov</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">dic</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">ene</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">feb</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">mar</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">abr</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">may</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 88px;">jun</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 72px;">jul</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 89px;">ago</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr role="row" class="odd">
                            <td>Precipitación (mm)</td>
                            {% for pp in pp_clima %}
                                <td>{{ pp }}</td>
                            {% endfor %}
                        </tr>
                        <tr role="row" class="even">
                            <td>ETR (mm)</td>
                            {% for etr in etr_clima %}
                                <td>{{ etr }}</td>
                            {% endfor %}
                        <tr role="row" class="odd">
                            <td>ETP (mm)</td>
                            {% for etp in etp_clima %}
                                <td>{{ etp }}</td>
                            {% endfor %}
                        </tr>
                        <tr role="row" class="even">
                            <td>Escurrimiento (mm)</td>
                            {% for fout in flow_out_clima %}
                                <td>{{ fout }}</td>
                            {% endfor %}
                        </tr>
                        <tr role="row" class="odd">
                            <td>Caudal (m3/s)</td>
                            {% for q in wyld_clima %}
                                <td>{{ q }}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="card" style="width:100%;padding-bottom:40px;">
    <div class="card-header" data-background-color="blue">
        <h4 class="title" style="color:white;">Tabla Histórica</h4>
    </div>

    <div class="card-content">
        <div class="table-fluid">
            <div class="table-scrollable">
                <table class="table dataTable table-hover no-footer mb-0" id="table_monthly" role="grid" style="overflow-x:auto;width: 1480px;">
                    <thead>
                        <tr role="row">
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 240px;">Variable</th>
                            {% for anno in annos %}
                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 87px;">{{ anno }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr role="row" class="odd">
                            <td>Precipitación (mm)</td>
                            {% for pp in pp_anual %}
                                <td>{{ pp }}</td>
                            {% endfor %}
                        </tr>
                        <tr role="row" class="even">
                            <td>ETR (mm)</td>
                            {% for etr in etr_anual %}
                                <td>{{ etr }}</td>
                            {% endfor %}
                        </tr>
                        <tr role="row" class="odd">
                            <td>ETP (mm)</td>
                            {% for etp in etp_anual %}
                                <td>{{ etp }}</td>
                            {% endfor %}
                        </tr>
                        <tr role="row" class="even">
                            <td>Escurrimiento (mm)</td>
                            {% for fout in flow_out_anual %}
                                <td>{{ fout }}</td>
                            {% endfor %}
                        </tr>
                        <tr role="row" class="odd">
                            <td>Caudal (m3/s)</td>
                            {% for q in wyld_anual %}
                                <td>{{ q }}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div style="display:flex; width: 100%; padding-bottom:40px;">
    <div class="card" style="width:48%;">
        <div class="card-header" data-background-color="blue">
            <h4 class="title" style="color:white;">Hidrograma mensual</h4>
        </div>
        <div class="card-content">
            <figure class="highcharts-figure">
                <div id="hydrograph_month"></div>
            </figure>
        </div>
    </div>
    <div style="width: 2%;"></div>

    <div class="card" style="width:48%;">
        <div class="card-header" data-background-color="blue">
            <h4 class="title" style="color:white;">Hidrograma</h4>
        </div>
        <div style="height: 400px;">
            <figure class="highcharts-figure">
                <div id="hydrograph_year"></div>
            </figure>
        </div>
    </div>
    <div style="width: 2%;"></div>
</div>




<script type="text/javascript">
    var map = L.map('map').setView([-15,-75],6);
    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

    function setStyle(feature) {
      return {
        weight: 2,
        opacity: 1,
        color: 'white',
        dashArray: '3',
        fillOpacity: 0.3,
        fillColor: '#666666'
      };
    };

    var geom = L.geoJSON({{ geometria | safe }});
    var geom_padre = L.geoJSON({{ geometria_parent | safe }}, {style: setStyle});

    geom.bindPopup("Subcuenca: {{ codigo }}");

    geom_padre.addTo(map);
    geom.addTo(map);
    map.fitBounds(geom.getBounds().pad(2));
</script>

<script>
    Highcharts.chart('bh_monthly', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Balance hídrico'
        },
        xAxis: {
            categories: ['Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug']
        },
        yAxis: {
            min: -150,
            title: {
                text: 'Balance en cuenca'
            },
            stackLabels: {
                enabled: false,
                style: {
                    fontWeight: 'bold',
                    color: ( // theme
                        Highcharts.defaultOptions.title.style &&
                        Highcharts.defaultOptions.title.style.color
                    ) || 'gray'
                }
            }
        },
        colors: ['Blue', 'Green', 'Red'],
        legend: {
            align: 'center',
            verticalAlign: 'bottom',
            floating: false,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false
                }
            }
        },
        series: [{
            name: 'Precipitación (mm)',
            data: {{ pp_clima }}
        }, {
            name: 'ETR (mm)',
            data: {{ etr_clima_bh }}
        }, {
            name: 'Escurrimiento (mm)',
            data: {{ wyld_clima_bh }}
        }]
    });
</script>

<script>
    Highcharts.chart('bh_historico', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Balance histórico'
        },
        xAxis: {
            categories: [1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016]
        },
        yAxis: {
            min: -1200,
            title: {
                text: 'Balance en cuenca'
            },
            stackLabels: {
                enabled: false,
                style: {
                    fontWeight: 'bold',
                    color: ( // theme
                        Highcharts.defaultOptions.title.style &&
                        Highcharts.defaultOptions.title.style.color
                    ) || '#FFFFFF'
                }
            }
        },
        colors: ['Blue', 'Green', 'Red'],
        legend: {
            align: 'center',
            verticalAlign: 'bottom',
            floating: false,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false
                }
            }
        },
        series: [{
            name: 'Precipitación (mm)',
            data: {{ pp_anual }}
        }, {
            name: 'ETR (mm)',
            data: {{ etr_anual_bh }}
        },{
            name: 'Escurrimiento (mm)',
            data: {{ wyld_anual_bh }}
        }]
    });
</script>


<script>
    Highcharts.chart('hydrograph_month', {
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Hidrograma mensual'
        },
        subtitle: {
            text: 'Fuente: www.senamhi.gob.pe'
        },
        xAxis: {
            categories: ['Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug']
        },
        yAxis: {
            title: {
                text: 'Balance en cuenca'
            },
            labels: {
                formatter: function () {
                    return this.value; //return this.value + '°';
                }
            }
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        series: [{
            name: 'Caudal (m3/s)',
            marker: {
                symbol: 'diamond'
            },
            data: {{ q_clima }}
        }]
    });
</script>

<script>
    Highcharts.chart('hydrograph_year', {
        chart: {
            zoomType: 'x'
        },
        title: {
            text: 'Hidrograma'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Balance en cuenca'
            }
        },
        legend: {
            align: 'center',
            verticalAlign: 'bottom',
            floating: false,
            shadow: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'Caudal (m3/s)',
            data: {{ q_hydrogram }}
        }]
    });

</script>
{% endblock content %}
